<!doctype html>

<head>
  <title>Create Routine</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/jquery.timepicker.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>

<body>
  {{> navbar}}

  <!-- Form -->
  <div class="container">
    <form class="needs-validation" method="post" action="/routine/add" novalidate>
      <div class="form-group">
        <label for="title">Title<span class="red">*</span></label>
        <button type="button" class="question-btn" data-toggle="modal" data-target="#titleModal">
          <i class="fas fa-question-circle"></i>
        </button>
        <input type="text" class="form-control" id="title" name="title" placeholder="Gym" required>
        <div class="invalid-feedback">Please enter a title.</div>
      </div>
      <div class="form-group">
        <label for="daysToComplete">Days to Complete<span class="red">*</span></label>
        <button type="button" class="question-btn" data-toggle="modal" data-target="#daysToCompleteModal">
          <i class="fas fa-question-circle"></i>
        </button>
        <input type="number" class="form-control" id="daysToComplete" name="daysToComplete" placeholder="30" required>
        <div class="invalid-feedback">Please enter the number of days to complete the routine.</div>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-dark large-btn" data-toggle="modal" data-target="#alarmModal">
          Set Alarm
        </button>

        <div id="alarmStatus">
          <small id="emailHelp" class="form-text text-muted">Alarm has not been set.</small>
        </div>

        <!-- Set Alarm Modal -->
        <div class="modal fade" id="alarmModal" tabindex="-1" role="dialog" aria-labelledby="alarmModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="alarmModalLabel">Set Alarm</h5>
              </div>
              <div class="modal-body">
                <div class="container">
                  <div class="center-text">
                    <input class="alarm" type="time" id="alarm" name="alarm" onchange="updateAlarmText()" />
                  </div>

                  <hr />
                  <div class=" divider"><strong>Repeat</strong></div>
                  <div class="circular-btns">
                    <button type="button" class="btn btn-light circular-btn monday">Mo</button>
                    <button type="button" class="btn btn-light circular-btn tuesday">Tu</button>
                    <button type="button" class="btn btn-light circular-btn wednesday">We</button>
                    <button type="button" class="btn btn-light circular-btn thursday">Th</button>
                    <button type="button" class="btn btn-light circular-btn friday">Fr</button>
                    <button type="button" class="btn btn-light circular-btn saturday">Sa</button>
                    <button type="button" class="btn btn-light circular-btn sunday">Su</button>
                    <input type="checkbox" name="repeatMonday" class="monday hidden">
                    <input type="checkbox" name="repeatTuesday" class="tuesday hidden">
                    <input type="checkbox" name="repeatWednesday" class="wednesday hidden">
                    <input type="checkbox" name="repeatThursday" class="thursday hidden">
                    <input type="checkbox" name="repeatFriday" class="friday hidden">
                    <input type="checkbox" name="repeatSaturday" class="saturday hidden">
                    <input type="checkbox" name="repeatSunday" class="sunday hidden">
                  </div>

                  <div class="form-check">
                    <input type="checkbox" name="everyOtherDay" class="form-check-input" />
                    <label class="form-check-label" for="otherDayCheck" style="color:black;">Every other day</label>
                  </div>

                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="form-group">
        <label for="goals">Goals</label>
        <button type="button" class="question-btn" data-toggle="modal" data-target="#goalsModal">
          <i class="fas fa-question-circle"></i>
        </button>
        <input type="text" class="form-control" id="goals" name="goals" placeholder="Lose 10 pounds">
        <div class="invalid-feedback">Please enter a goal(s).</div>
      </div>
      <div class="form-group">
        <label for="goalReward">Goal Reward</label>
        <button type="button" class="question-btn" data-toggle="modal" data-target="#goalRewardModal">
          <i class="fas fa-question-circle"></i>
        </button>
        <input type="text" class="form-control" id="goalReward" name="goalReward" placeholder="Watch a movie">
        <div class="invalid-feedback">Please enter a goal reward.</div>
      </div>

      <input class="hidden" type="text" name="id" id="uuid" readonly>
      <input class="hidden" type="text" name="createdAt" id="createdAt">

      <div class="text-center">
        <input type="submit" class="btn btn-dark large-btn" value="Save">
        </input>
      </div>
    </form>
  </div>

  <!-- Title Modal -->
  {{> modal modalId="titleModal" modalTitle="Title" modalLabel="titleModalLabel" definition="The name for a
  routine."
  examples="Ex: go to gym, study math"}}

  <!-- Goals Modal -->
  {{> modal modalId="startDateModal" modalTitle="Start Date" modalLabel="goalsModalLabel"
  definition="The day you will begin your routine."}}

  <!-- Goals Modal -->
  {{> modal modalId="goalsModal" modalTitle="Goals" modalLabel="goalsModalLabel"
  definition="The objectives you want to achieve by the end of the routine."
  examples="Ex: lose 10 pounds, get A on exam"}}

  <!-- Goal Reward Modal -->
  {{> modal modalId="goalRewardModal" modalTitle="Goal Reward" modalLabel="goalRewardModalLabel"
  definition="What you will reward yourself with after finishing the routine. This provides an incentive for you to
  achieve your goals."
  examples="Ex: watch a movie, eat ice cream"}}

  <!-- Days to Complete Modal -->
  {{> modal modalId="daysToCompleteModal" modalTitle="Days to Complete" modalLabel="daysToCompleteModalLabel"
  definition="The number of work days to finish the routine. Does not include rest days."}}

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
  <script src="../js/forms.js"></script>
  <script src="../js/jquery.timepicker.min.js"></script>

  <script>
    if ($('#alarm')[0].type != 'time') {
      $('#alarm').timepicker();
    }

    function updateAlarmText() {
      const alarmTime = $('#alarm').val();
      if (alarmTime === '') {
        console.log('is empty');
        $('#alarmStatus').html(`<small id="emailHelp" class="form-text text-muted">Alarm has not been set.</small>`);
      } else {
        console.log('not empty');
        $('#alarmStatus').html(`<small id="emailHelp" class="form-text text-success">Alarm has been set to ${alarmTime}.</small>`);
      }
    }

    const date = new Date();
    const startDate = {
      day: date.getDay(),
      month: date.getMonth(),
      date: date.getDate(),
      year: date.getFullYear()
    }
    const startDateString = JSON.stringify(startDate);

    // Set createdAt to current date
    $("#createdAt").val(startDateString);

    // Generate unique ID
    $("#uuid").val(uuidv4());

    // Differentiate routines by associating each of them with a unique ID
    // The function below, written by broofa, generates a unique ID
    // Source: https://stackoverflow.com/questions/105034/create-guid-uuid-in-javascript
    function uuidv4() {
      return ([1e7] + -1e3 + -4e3 + -8e3 + -1e11).replace(/[018]/g, c =>
        (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
      )
    }
  </script>

</body>

</html>