<!doctype html>

<head>
  <title>Help</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>

<body>
  {{> navbar showBackBtn="false"}}

  <div class="container">

    <div>
      <button class="collapsible">Q: What is CMPLTR? <i class="fas fa-caret-down"></i></button>
      <div class="content">
        <p>CMPLTR, short for Completer, is a progress routine manager that notifies you when to do your task and rewards
          you for each consecutive day completed. After completing your task for the day, you record it on the app, and
          it rewards you with visual and auditory positive feedback.</p>
      </div>
    </div>

    <hr class="divider" />

    <div>
      <button class="collapsible">Q: Can I review the tutorial slideshow? <i class="fas fa-caret-down"></i></button>
      <div class="content">
        {{> carousel}} <br />
      </div>
    </div>

    <hr class="divider" />

    <div>
      <button class="collapsible">Q: How do I create a routine? <i class="fas fa-caret-down"></i></button>
      <div class="content">
        <p>Click on the "Create" button where you can create and customize your routine based on the total
          amount of days you wish to complete. Optionally, you can set an alarm for when you want to be notified, set
          goals you wish to achieve, and set a reward to treat yourself with upon completing the routine and its goals.
        </p>
      </div>
    </div>

    <hr class="divider" />

    <div>
      <button class="collapsible">Q: How do I check my current routine? <i class="fas fa-caret-down"></i></button>
      <div class="content">
        <p>Click on the "Current" button where you will be able to see all the routines that are currently
          active. You can then click on "View More" to segue to that routine's details screen, where you can also record
          your completed days.</p>
      </div>
    </div>

    <hr class="divider" />

    <div>
      <button class="collapsible">Q: Where can I see the old routines that I have completed? <i
          class="fas fa-caret-down"></i></button>
      <div class="content">
        <p>Click on the "Archives" button where you be able to see all archived routines. You can then click on
          one to see more details of that routine. You cannot edit them, but you can view them.</p>
      </div>
    </div>

    <hr class="divider" />

    <div>
      <button class="collapsible">Q: Can I see other user's activity and progress? <i
          class="fas fa-caret-down"></i></button>
      <div class="content">
        <p>Click on the "Community" button to see a ongoing list of users and their progression in their routines.</p>
      </div>
    </div>

    <hr class="divider" />

    <div>
      <button class="collapsible">Q: What do the circles on the "Current Routine" and "Archived Routine" screens mean?
        <i class="fas fa-caret-down"></i></button>
      <div class="content">
        <p>The circles represent each day that is to be completed for the routine. After doing the task for the
          specified day, you press the circle, it lights up, gives you a positive message, and plays a tone.</p>
      </div>
    </div>

    <hr class="divider" />

    <div>
      <button class="collapsible">Q: How do I record a completed day for a routine? <i
          class="fas fa-caret-down"></i></button>
      <div class="content">
        <p>Go to the current routine that corresponds to the activity you are recording for and click on the circle with
          the completion date. </p>
      </div>
    </div>

    <hr class="divider" />

    <div>
      <button class="collapsible">Q: What happens when I finish a routine? <i class="fas fa-caret-down"></i></button>
      <div class="content">
        <p>Click on the "Mark Routine As Finished" button at the bottom of routine, and it will ask whether you
          completed the intended goals. Afterwards, your routine will be moved to the archive, where you can view it at
          any time.
        </p>
      </div>
    </div>
  </div>

  <script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function () {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    }
  </script>

  {{> facebook}}
  <script src="../js/facebook.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
  <script>
    $(document).ready(function () {
      $(".carousel").carousel({
        interval: false
      });
    });
  </script>

</body>

</html>