<!DOCTYPE html>
<html>
    <head class="heading">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/home_page.css" rel="stylesheet">
        <div class= "topnav">
            <h1 align="right" class="header">Profile<img src="Avatar_image.png" alt="Avatar" class="profile" hspace="20"></h1>
        </div>
        
    </head>
    <body>
        {{> navbar}}
        <h2 align="center" class="subheader">CMPLTR</h2>
        <div align="center"><button type="button" class="create" onclick="window.location.href = 'andrewnguyen.html';">Create Routine</button></div>
        <p></p> <!----to add a blank space between buttons--->
        <div align="center"><button type="button" class="current">Current Routines</button></div>
        <p></p> <!----to add a blank space between buttons--->
        <div align="center"><button type="button" class="previous">Previous Routine</button></div>
        <p></p> <!----to add a blank space between buttons--->
    </body>
</html>