<!doctype html>

<head>
	<title>CPMLTR Home</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
		integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	{{> facebook}}
	<script src="../js/facebook.js"></script>
</head>

<body>
	{{> navbar noBackBtn="true"}}

	<div class="logo">
		<h1>CMPLTR</h1>
	</div>

	<div class="container">
		<a class="btn btn-dark large-btn home-btn" href="createRoutine">Create Routine</a>
		<a class="btn btn-dark large-btn home-btn" href="currentRoutines">Current Routines</a>
		<a class="btn btn-dark large-btn home-btn" href="previousRoutines">Previous Routines</a>
	</div>

	<hr class="divider" />

	<div class="container">
		<marquee class="community-feed-marquee">
			<i class="fas fa-user-circle fa-2x marquee-item"></i>
			<div class="marquee-item">Jim completed day 5 of his "Go swimming" routine!</div>
		</marquee>

		<a class="btn btn-dark large-btn community-feed-btn" href="communityFeed">View Community Feed</a>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
		integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
		integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
		crossorigin="anonymous"></script>

</body>

</html>