<!doctype html>

<head>
	<title>CPMLTR Home</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
		integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>

<body>
	{{> navbar noBackBtn="true"}}

	<div class="center-text">
		<h1>CMPLTR</h1>
	</div>
	<div class="home-header">
		Manage your routines.
	</div>

	<div class="container">
		<a class="btn btn-dark large-btn home-btn" href="createRoutine">
			<i class="fas fa-plus fa-2x" style="margin-right:0.5em;"></i>
			<div style="font-size: 1.5em;">Create</div>
		</a>
		<a class="btn btn-dark large-btn home-btn" href="currentRoutines">
			<i class="fas fa-calendar-alt fa-2x" style="margin-right:0.5em;"></i>
			<div style="font-size: 1.5em;">Current</div>
		</a>
		<a class="btn btn-dark large-btn home-btn" href="previousRoutines">
			<i class="fas fa-archive fa-2x" style="margin-right:0.5em;"></i>
			<div style="font-size: 1.5em;">Archive</div>
		</a>

		<div class="container center-horizontal">
			<div id="carouselIndicators" class="carousel slide" data-ride="carousel">

				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="center-vertical" style="padding: 1em; border-radius: 5px;">
							<div style="margin-right: 10px;">
								<i class="fas fa-user-circle fa-2x"></i>
							</div>
							<div class="center-vertical word-break word-break-ellipsis">
								Larry completed day 900 of their routine "Be Amazing"
							</div>
						</div>
					</div>

					{{#each communityFeed.communityFeedData}}
					<div class="carousel-item">
						<div class="center-vertical" style="padding: 1em; border-radius: 5px;">
							<div style="margin-right: 10px;">
								<i class="fas fa-user-circle fa-2x"></i>
							</div>
							<div class="center-vertical word-break word-break-ellipsis">
								{{name}} completed day {{completedDayNumber}} of their routine "{{routineName}}"
							</div>
						</div>
					</div>
					{{/each}}

					<a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>

					</a>
					<a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>

		</div>
		<a class="btn btn-dark large-btn home-btn" href="communityFeed">
			<i class="fas fa-users fa-2x" style="margin-right:0.5em;"></i>
			<div style="font-size: 1.5em;">Community</div>
		</a>

		{{> facebook}}
		<script src="../js/facebook.js"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
			integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
			crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
			integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
			crossorigin="anonymous"></script>

</body>

</html>