<!doctype html>

<head>
  <title>Log In</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="manifest" href="/manifest.json">
  <link rel="shortcut icon" sizes="192x192" href="/images/icons/icon-192x192.png">
  <link rel="shortcut icon" sizes="150x150" href="/images/icons/icon-150x150.png">
  <link rel="apple-touch-icon" sizes="192x192" href="/images/icons/icon-192x192.png">
  <link rel="apple-touch-icon" sizes="150x150" href="/images/icons/icon-150x150.png">
  <link href="/images/icons/splash/iphone5_splash.png"
    media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)"
    rel="apple-touch-startup-image" />
  <link href="/images/icons/splash/iphone6_splash.png"
    media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)"
    rel="apple-touch-startup-image" />
  <link href="/images/icons/splash/iphoneplus_splash.png"
    media="(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)"
    rel="apple-touch-startup-image" />
  <link href="/images/icons/splash/iphonex_splash.png"
    media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)"
    rel="apple-touch-startup-image" />
  <link href="/images/icons/splash/iphonexr_splash.png"
    media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)"
    rel="apple-touch-startup-image" />
  <link href="/images/icons/splash/iphonexsmax_splash.png"
    media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)"
    rel="apple-touch-startup-image" />
  <link href="/images/icons/splash/ipad_splash.png"
    media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)"
    rel="apple-touch-startup-image" />
  <link href="/images/icons/splash/ipadpro1_splash.png"
    media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)"
    rel="apple-touch-startup-image" />
  <link href="/images/icons/splash/ipadpro3_splash.png"
    media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)"
    rel="apple-touch-startup-image" />
  <link href="/images/icons/splash/ipadpro2_splash.png"
    media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)"
    rel="apple-touch-startup-image" />
  {{> facebook}}
  <script src="../js/facebook.js"></script>
  {{> analytics}}
</head>

<body align="center">

  {{!-- <div id="fb-root"></div>
  <script async defer
    src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=516670882194603&autoLogAppEvents=1"></script> --}}

  {{> navbar noBackBtn="true" noDropdown="true"}}

  <div class="logo">
    <h1>CMPLTR</h1>
  </div>

  <div class="container">

    <div class="center-text">
      <div class="fb-login-button" data-size="large" data-button-type="continue_with" data-scope="public_profile, email"
        data-auto-logout-link="false" data-use-continue-as="false" onlogin="checkLoginState();"></div>
    </div>
    {{!-- <p class="facebookLogin">Please login through Facebook
      <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
      </fb:login-button>
    </p> --}}

    <hr />

    <form id="loginForm" class="needs-validation" novalidate>

      <div class="form-group">
        <label for="title">Email<span class="red">*</span></label>
        <input id="email" type="email" name="email" class="form-control" placeholder="Email" required>
        <div id="isUnregistered" class="invalid-feedback hidden-priority">This email has
          not been registered.</div>
        <div id="isInvalidEmail" class="invalid-feedback">Please enter a valid email.</div>
      </div>
      <div class="form-group">
        <label for="title">Password<span class="red">*</span></label>
        <input id="password" type="password" name="password" class="form-control" placeholder="Password" required>
        <div id="isIncorrectPassword" class="invalid-feedback hidden-priority">Password is incorrect.</div>
        <div id="isBlankPassword" class="invalid-feedback">Please enter a password.</div>
      </div>

      <br />

      <div class="text-center">
        <input type="submit" class="btn btn-dark large-btn" value="Log In">
        </input>
      </div>
      <br />
      <div class="form-group" align="center">
        <p>Don't have an account?<br /><a href="/signup">Sign Up</a></p>
      </div>
    </form>
  </div>

  {{> sw}}
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
  <script src="../js/forms.js"></script>
  <script>
    $("#loginForm").submit(function (e) {
      e.preventDefault();

      const email = $("#email").val();
      const password = $("#password").val();
      if (email === "" && password === "") return false;

      $.post("/login", { email, password }, function (req, res) {
        if (req === "user not found") {
          const emailInput = document.getElementById("email");
          emailInput.setCustomValidity("Email does not exist");
          $("#isUnregistered").removeClass("hidden-priority");
          $("#isInvalidEmail").addClass("hidden-priority");

          $("#isIncorrectPassword").addClass("hidden-priority");
          $("#isBlankPassword").removeClass("hidden-priority");

          return console.log("User not found");
        } else if (req === "incorrect password") {
          const emailInput = document.getElementById("email");
          const passwordInput = document.getElementById("password");

          emailInput.setCustomValidity("");
          $("#isUnregistered").addClass("hidden-priority");
          $("#isInvalidEmail").removeClass("hidden-priority");

          passwordInput.setCustomValidity("Incorrect password");
          $("#isIncorrectPassword").removeClass("hidden-priority");
          $("#isBlankPassword").addClass("hidden-priority");
          return console.log("Incorrect password");
        } else {
          window.location.href = "/home";
        }
      });

      localStorage.setItem('email', email);
      return true;
    });
  </script>

</body>

</html>