<!doctype html>

<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous">
</head>

<body align="center">
  {{> navbar}}
  	<div class="logo">
		  <h1>CMPLTR</h1>
	  </div>
  <div class="container">
      <form class="needs-validation" method="get" action="/" novalidate>
    {{!-- <div class="container">
      <input type="email" class="form-control" style="border:solid;"
        id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
    </div>
    <br />
    <div class="container">
      <input type="password" class="form-control" style="border:solid;"
        id="exampleInputPassword1" placeholder="Password" required>
    </div>
    <br />
    <div class="login" align="center">
      <a class="btn btn-primary btn-lg active" role="button" aria-pressed="true" href="/">Login</a>
    </div> --}}
    <div class="form-group">
        <label for="title">Email<span class="red">*</span></label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Email" required>
        <div class="invalid-feedback">Please enter an email.</div>
      </div>
    <div class="form-group">
        <label for="title">Password<span class="red">*</span></label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Password" required>
        <div class="invalid-feedback">Please enter a password.</div>
      </div>
    <br />
    <br />
    <br />
    <div class="text-center">
        <input type="submit" class="btn btn-dark large-btn" value="Login">
        </input>
    </div>
    <div class="form-group" align="center">
      <p>Don't have an account?<br /><a href="index">Sign Up</a></p>
    </div>  
</form>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
   {{!-- <script src="../routes/login.js"></script> --}}
   <script src="../js/forms.js"></script>
</body>

</html>

