<!doctype html>

<head>
  <title>Sign Up</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>

<body align="center">
  {{> navbar noBackBtn="true" noDropdown="true"}}

  <div class="logo">
    <h1>CMPLTR</h1>
  </div>
  <div class="container">
    <form id="signupForm" class="needs-validation" method="post" action="/createUser" novalidate>

      <div class="form-group">
        <label for="title">Name<span class="red">*</span></label>
        <input id="name" type="text" name="name" class="form-control" placeholder="Name" required>
        <div class="invalid-feedback">Please enter your name.</div>
      </div>

      <div class="form-group">
        <label for="title">Email<span class="red">*</span></label>
        <input id="email" type="email" name="email" class="form-control" placeholder="Email" required>
        <div id="isDuplicateEmail" style="font-size: 80%; margin-top: .25rem" class="text-danger hidden">This email is
          already being used. Try another one.</div>
        <div id="isInvalidEmail" class="invalid-feedback">Please enter a valid email.</div>
      </div>


      <div class="form-group">
        <label for="title">Password<span class="red">*</span></label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        <div class="invalid-feedback">Please enter a password.</div>
      </div>
      <div class="form-group">
        <label for="title">Confirm Password<span class="red">*</span></label>
        <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm Password" required>
        <div class="invalid-feedback">Passwords must match.</div>
      </div>

      <br />

      <div class="text-center">
        <input type="submit" class="btn btn-dark large-btn" value="Sign Up">
        </input>
      </div>
      <br />
      <div class="form-group" align="center">
        <p>Already have an account?<br /><a href="/login">Log In</a></p>
      </div>
    </form>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
  <script src="../js/forms.js"></script>
  <script>

    $("#email").change(function () {
      const email = $("#email").val();
      if (email) {
        verifyEmailUnique(email);
      }
    });

    function verifyEmailUnique(email) {
      $.get(`/verifyEmailUnique/${email}`, function (req, res) {
        if (req === 'email already exists') {
          $("#email").addClass("is-invalid invalid");
          $("#isDuplicateEmail").removeClass("hidden");
          $("#isInvalidEmail").removeClass("invalid-feedback");
          $("#isInvalidEmail").addClass("hidden");
        } else {
          $("#email").removeClass("is-invalid invalid");
          $("#isDuplicateEmail").addClass("hidden");
          $("#isInvalidEmail").addClass("invalid-feedback");
          $("#isInvalidEmail").removeClass("hidden");
        }
      });
    }

    $("#signupForm").submit(function (event) {
      const name = $("#name").val();
      const email = $("#email").val();
      const password = $("#email").val();
      localStorage.setItem('name', name);
      localStorage.setItem('first_name', name.trim().split(" ")[0]);
      localStorage.setItem('email', email);
      verifyEmailUnique(email);
      return true;
    });

    $('#confirmPassword').keyup(function () {
      const password = $("#password").val();
      const confirmPassword = $("#confirmPassword").val();
      if (password !== confirmPassword) {
        this.setCustomValidity('Passwords must match.');
      } else {
        this.setCustomValidity('');
      }
    });
  </script>
</body>

</html>