.divider {
  margin: 0 0 0.5em 0;
}

.dropdown-menu {
  left: auto;
  right: 0;
}

.dropdown-item.disabled {
  color: #000;
}

.navbar {
  margin-bottom: 1em;
}

.question-button {
  background-color: transparent;
  border: none;
  padding: 5px;
}

.clock {
  text-align: center;
}

.alarm {
  border-radius: 5px;
  border-style: solid;
  font-size: 3em;
  padding-left: 0.7em;
  text-align: center;
}

.alarm-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.alarm-btn {
  border-color: #000;
  border-radius: 100%;
  padding: 0;
  height: 50px;
  width: 50px;
  margin: 0 2px;
}

.large-btn {
  width: 100%;
  font-size: 1em;
}

.container input::placeholder { 
 color: rgba(200, 200, 200, 0.9);
}

.logo {
  text-align: center;
  padding: 1.5em;
}

.logo h1 {
  font-size: 4.5em;
}

.home-btn {
  margin-bottom: 1.5em;
  padding: .5em;
  font-size: 1.5em;
}

.community-feed-marquee {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0.25em;
}

.community-feed-btn {
  font-size: 1em;
  margin-bottom: 0.5em;
}

.marquee-item {
  display: inline-block;
  vertical-align: middle;
}