body {
  font-family: Arial, Helvetica, sans-serif;
}

.alarm {
  border-radius: 5px;
  border-style: solid;
  font-size: 2em;
  /* padding-left: 0.7em; */
  text-align: center;
  width: 100%;
}

.circular-btn {
  border-color: #000;
  border-radius: 100%;
  padding: 0;
  height: 50px;
  margin: 0 2px;
  width: 50px;
}

.circular-btns {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.center-element {
  display: block;
  margin: 0 auto;
}

.center-horizontal {
  display: flex;
  justify-content: center;
}

.center-text {
  text-align: center;
}

.center-vertical {
  display: flex;
  align-items: center;
}

.center-xy {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.community-feed-btn {
  font-size: 1em;
  margin-bottom: 0.5em;
}

.community-feed-marquee {
  display: inline-block;
  margin-bottom: 0.5em;
  vertical-align: middle;
}

.container input::placeholder {
  color: rgba(200, 200, 200, 0.9);
}

/* .container input[type=date]:invalid {
  color: rgba(200, 200, 200, 0.9);
} */

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: rgb(52, 58, 64);
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/* .active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 10px 10px 0px 10px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.divider {
  margin: 0 0 0.5em 0;
}

.dropdown-menu {
  left: auto;
  right: 0;
}

.dropdown-item.disabled {
  color: rgb(0, 0, 0);
}

.flex {
  display: flex;
}

.goals-box {
  border: 2px solid black;
  padding-top: 1em;
}

.hidden {
  display: none;
}

.home-btn {
  align-items: center;
  display: flex; 
  font-size: 1.5em;
  justify-content: center;
  height: 5em; 
  margin-bottom: 1.5em;
  padding: 0.5em;
}

/* 
.home-btn {
  font-size: 1.5em;
  margin-bottom: 1.5em;
  padding: 0.5em;
}
*/

.home-header {
  font-size: 1.5em;
  font-style: italic;
  margin-bottom: 0.8em;
  text-align: center;
}

.large-btn {
  font-size: 1em;
  width: 100%;
}

.logo {
  padding: 1.5em;
  text-align: center;
}

.logo h1 {
  font-size: 4.5em;
}

.marquee-item {
  display: inline-block;
  vertical-align: middle;
}

.navbar {
  margin-bottom: 1em;
}

.profile-input {
  background: transparent; 
  border: none; 
  color: white;
  width: 100%;
}

.question-btn {
  background-color: transparent;
  border: none;
  padding: 5px;
}

.red {
  color: rgb(230, 0, 0);
}

.routine .circular-btn {
  height: 60px;
  margin-bottom: 1em;
  width: 60px;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.white {
  color: rgb(255, 255, 255);
}