body {
  font-family: Arial, Helvetica, sans-serif;
}

.alarm {
  border-radius: 5px;
  border-style: solid;
  font-size: 2em;
  text-align: center;
  width: 100%;
}

.carousel-indicators li {
  background-color: #fff;
  border: none;
  box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);
  height: 5px;
  margin-top: 50px;
  opacity: 0.8;   
  text-indent: 0;
  width: 30px;
}
.carousel-indicators .active {
  background-color: rgb(160, 160, 160);
  height: 5px;
  margin-top: 50px;
  opacity: 0.8;
  width: 30px;
}

.circular-btn {
  border-color: #000;
  border-radius: 100%;
  padding: 0;
  height: 50px;
  margin: 0 2px;
  width: 50px;
}

.circular-btns {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.center-element {
  display: block;
  margin: 0 auto;
}

.center-horizontal {
  display: flex;
  justify-content: center;
}

.center-text {
  text-align: center;
}

.center-vertical {
  display: flex;
  align-items: center;
}

.center-xy {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.community-feed-btn {
  font-size: 1em;
  margin-bottom: 0.5em;
}

.community-feed-content {
  align-items: center;
  display: flex;

  -ms-word-break: break-all;
  word-break: break-all;

/* Non standard for webkit */
   word-break: break-word;

  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;

}

.community-feed-marquee {
  display: inline-block;
  margin-bottom: 0.5em;
  vertical-align: middle;
}

.container input::placeholder {
  color: rgba(200, 200, 200, 0.9);
}

/* .container input[type=date]:invalid {
  color: rgba(200, 200, 200, 0.9);
} */

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: rgb(52, 58, 64);
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/* .active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 10px 10px 0px 10px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.divider {
  margin: 0 0 0.5em 0;
}

.dropdown-menu {
  left: auto;
  right: 0;
}

.dropdown-item.disabled {
  color: rgb(0, 0, 0);
}

.flex {
  display: flex;
}

.goals-box {
  border: 2px solid black;
  padding-top: 1em;
}

.hidden {
  display: none;
}

.home-btn {
  align-items: center;
  display: flex; 
  font-size: 1.5em;
  justify-content: center;
  height: 5em; 
  margin-bottom: 1.5em;
  padding: 0.5em;
}

.home-header {
  font-size: 1.5em;
  font-style: italic;
  margin-bottom: 0.8em;
  text-align: center;
}

.invalid {
  border-color: #dc3545 !important;
}

.invalid:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25) !important;
}

.large-btn {
  font-size: 1em;
  width: 100%;
}

.logo {
  padding: 1.5em;
  text-align: center;
}

.logo h1 {
  font-size: 4.5em;
}

.marquee-item {
  display: inline-block;
  vertical-align: middle;
}

.navbar {
  margin-bottom: 1em;
}

.optional {
  color: rgb(126, 126, 126);
  float: right; 
  margin-top: 5px; 
}

.profile-input {
  background: transparent; 
  border: none; 
  color: white;
  width: 100%;
}

.profile-spacing {
  padding-bottom: 0; 
  padding-top: 0.5em;
}

.question-btn {
  background-color: transparent;
  border: none;
  padding: 5px;
}

.red {
  color: rgb(230, 0, 0);
}

.required{
  color: rgb(230, 0, 0);
  float: right; 
  margin-top: 5px; 
}

.routine .circular-btn {
  height: 60px;
  margin-bottom: 1em;
  width: 60px;
}

.white {
  color: rgb(255, 255, 255);
}

.word-break {
    -ms-word-break: break-word;
    word-break: break-word;
}

/* add ellipsis for content that exceeds two lines */
.word-break-ellipsis {
  height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}