.header{
    background-color: black;
    color: white;
    font-family: "sans-serif";
    font-size: 30px;
}

.profile{
    background-color: black;
    width: 3%;
    font-size: 25px;
}
.subheader{
    color: black;
    font-family: "sans-serif";
    font-size: 50px;
}

.button{
    padding: 15px 32px;
}

.create{
    font-weight: bold;
    font-size: 20px;
    color: white;
    border-color: green;
    background-color: green;
    padding: 15px 32px;
}

.current{
    font-weight: bold;
    font-size: 20px;
    color: white;
    border-color: red;
    background-color: red;
    padding: 15px 32px;
}

.previous{
    font-weight: bold;
    font-size: 20px;
    color: white;
    border-color:blue;
    background-color:blue;
    padding: 15px 32px;
}